In [1]:
import pandas as pd
import numpy as np
import seaborn as sd
import os

In [2]:
os.getcwd()

'/workspaces/S02-26-Equipo-30-Web-App-/src'

In [3]:
df = pd.read_csv("/workspaces/S02-26-Equipo-30-Web-App-/data/horsetrust_database.csv")

In [4]:
df.head()

,horse_id,horse_name,birth_date,h_sex,raza,height_m,weight_kg,length_m,max_speed_kmh,h_temperament,...,s_disputes,s_num_listings,s_flagged_fraud,s_created_at,s_last_active_at,vet_total_exams,vet_major_issues,vet_avg_confidence,h_current_country,h_birth_country
0,H0,Ability,2014-06-25,F,Cuarto de Milla,1.45,517.0,2.3,70.0,Tranquilo / Sociable,...,0,19,False,2023-01-02 20:15:58.361824,2026-02-01 05:54:57.763822,1,1,0.740000,Turkey,Hungary
1,H1,Husband,2023-11-06,F,Appaloosa,1.41,461.0,2.3,56.0,Activo / Resistente,...,0,21,False,2024-01-20 07:57:51.310178,2025-02-11 10:37:02.845505,3,1,0.903333,Croatia,Eritrea
2,H2,Easy,2002-01-24,F,Pura Sangre Inglés,1.62,487.0,2.4,71.0,Nervioso / Atlético,...,0,21,False,2024-01-20 07:57:51.310178,2025-02-11 10:37:02.845505,3,1,0.776667,Armenia,Sudan
3,H3,Audience,2010-12-28,F,Pura Sangre Inglés,1.63,NaN,2.4,71.0,Nervioso / Atlético,...,1,14,False,2022-12-31 02:27:04.386957,2023-02-25 08:30:29.480259,1,1,0.870000,Saint Vincent and the Grenadines,Gibraltar
4,H4,Little,2001-02-14,F,Pura Raza Española,1.51,522.0,2.4,49.0,Noble / Dócil,...,0,4,False,2022-11-08 10:19:34.969405,2025-01-26 01:55:29.019771,2,1,0.835000,Togo,Brunei Darussalam

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   horse_id                1000 non-null   str
 1   horse_name              999 non-null    str
 2   birth_date              1000 non-null   str
 3   h_sex                   1000 non-null   str
 4   raza                    1000 non-null   str
 5   height_m                938 non-null    float64
 6   weight_kg               920 non-null    float64
 7   length_m                1000 non-null   float64
 8   max_speed_kmh           922 non-null    float64
 9   h_temperament           1000 non-null   str
 10  h_category              1000 non-null   str
 11  h_career_races          1000 non-null   int64
 12  h_days_since_last_race  908 non-null    float64
 13  h_linaje                1000 non-null   str
 14  listing_id              1000 non-null   str
 15  seller_id               1000 non-null   str
 16  l_listing_status        1000 non-null   str
 17  l_asking_price_usd      1000 non-null   int64
 18  l_created_at            1000 non-null   str
 19  s_first_name            1000 non-null   str
 20  s_last_name             1000 non-null   str
 21  s_verified              1000 non-null   bool
 22  s_disputes              1000 non-null   int64
 23  s_num_listings          1000 non-null   int64
 24  s_flagged_fraud         1000 non-null   bool
 25  s_created_at            1000 non-null   str
 26  s_last_active_at        1000 non-null   str
 27  vet_total_exams         1000 non-null   int64
 28  vet_major_issues        1000 non-null   int64
 29  vet_avg_confidence      1000 non-null   float64
 30  h_current_country       1000 non-null   str
 31  h_birth_country         1000 non-null   str
dtypes: bool(2), float64(6), int64(6), str(18)
memory usage: 236.5 KB

In [6]:
df.describe()

,height_m,weight_kg,length_m,max_speed_kmh,h_career_races,h_days_since_last_race,l_asking_price_usd,s_disputes,s_num_listings,vet_total_exams,vet_major_issues,vet_avg_confidence
count,938.000000,920.000000,1000.000000,922.000000,1000.000000,908.000000,1.000000e+03,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000
mean,1.504979,529.569565,2.325400,50.336226,14.845000,202.897577,1.499800e+06,0.413000,13.618000,2.0140,0.299000,0.850900
std,0.221275,181.693543,0.324962,15.827304,4.047142,112.905887,3.979668e+04,0.697795,7.286094,0.8237,0.523329,0.066130
min,0.710000,150.000000,1.500000,20.000000,4.000000,7.000000,1.380354e+06,0.000000,1.000000,1.0000,0.000000,0.700000
25%,1.470000,447.750000,2.300000,42.000000,12.000000,104.000000,1.472402e+06,0.000000,7.000000,1.0000,0.000000,0.804583
50%,1.560000,513.000000,2.300000,55.000000,15.000000,203.000000,1.499758e+06,0.000000,15.000000,2.0000,0.000000,0.850000
75%,1.640000,623.250000,2.500000,60.000000,17.000000,299.000000,1.526853e+06,1.000000,20.000000,3.0000,1.000000,0.895417
max,1.800000,1000.000000,2.800000,71.000000,29.000000,400.000000,1.657049e+06,4.000000,25.000000,3.0000,3.000000,1.000000

# Generacion de componentes del indice de confianza Trust Horse

In [7]:
# Completeness score (solo columnas de caballo relevantes) para saber la falta de información

horse_cols = ["h_sex","raza","height_m","weight_kg","length_m","max_speed_kmh",
              "h_temperament","h_category","h_career_races",
              "h_days_since_last_race","h_linaje"]
df["completeness"] = 1 - df[horse_cols].isna().sum(axis=1) / len(horse_cols)

print (df["completeness"])

0      1.000000
1      1.000000
2      1.000000
3      0.909091
4      1.000000
         ...
995    1.000000
996    1.000000
997    1.000000
998    1.000000
999    0.909091
Name: completeness, Length: 1000, dtype: float64

In [8]:
# Vet Score

df["vet_score"] = np.where(
    df["vet_total_exams"] > 0,
    1 - (df["vet_major_issues"] / df["vet_total_exams"]),
    0.5
)

In [9]:
# Seller score
df["seller_score"] = (
    0.4 * df["s_verified"].astype(int) + 
    0.3 * (1 - np.minimum(df["s_disputes"]/10,1)) +
    0.3 * (1 - df["s_flagged_fraud"].astype(int))
)

In [10]:
# Horse trust score (ponderación final)
df["horse_trust_score"] = 0.4 * df["completeness"] + 0.4 * df["vet_score"] + 0.2 * df["seller_score"]

# Revisar resultados
df[["horse_id","horse_trust_score","completeness","vet_score","seller_score"]].head()

  horse_id  horse_trust_score  completeness  vet_score  seller_score
0       H0           0.600000      1.000000   0.000000          1.00
1       H1           0.866667      1.000000   0.666667          1.00
2       H2           0.866667      1.000000   0.666667          1.00
3       H3           0.557636      0.909091   0.000000          0.97
4       H4           0.800000      1.000000   0.500000          1.00

Se ha generado el Horse Trust Score con la pondercion de 3 componentes de informacion del caballo , registro veterinario y

In [13]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   horse_id                1000 non-null   str
 1   horse_name              999 non-null    str
 2   birth_date              1000 non-null   str
 3   h_sex                   1000 non-null   str
 4   raza                    1000 non-null   str
 5   height_m                938 non-null    float64
 6   weight_kg               920 non-null    float64
 7   length_m                1000 non-null   float64
 8   max_speed_kmh           922 non-null    float64
 9   h_temperament           1000 non-null   str
 10  h_category              1000 non-null   str
 11  h_career_races          1000 non-null   int64
 12  h_days_since_last_race  908 non-null    float64
 13  h_linaje                1000 non-null   str
 14  listing_id              1000 non-null   str
 15  seller_id               1000 non-null   str
 16  l_listing_status        1000 non-null   str
 17  l_asking_price_usd      1000 non-null   int64
 18  l_created_at            1000 non-null   str
 19  s_first_name            1000 non-null   str
 20  s_last_name             1000 non-null   str
 21  s_verified              1000 non-null   bool
 22  s_disputes              1000 non-null   int64
 23  s_num_listings          1000 non-null   int64
 24  s_flagged_fraud         1000 non-null   bool
 25  s_created_at            1000 non-null   str
 26  s_last_active_at        1000 non-null   str
 27  vet_total_exams         1000 non-null   int64
 28  vet_major_issues        1000 non-null   int64
 29  vet_avg_confidence      1000 non-null   float64
 30  h_current_country       1000 non-null   str
 31  h_birth_country         1000 non-null   str
 32  completeness            1000 non-null   float64
 33  vet_score               1000 non-null   float64
 34  seller_score            1000 non-null   float64
 35  horse_trust_score       1000 non-null   float64
dtypes: bool(2), float64(10), int64(6), str(18)
memory usage: 267.7 KB

In [12]:
# Nuevo Dataset con el Trust Index

import os
os.getcwd()
os.makedirs("../data", exist_ok=True)
df.to_csv("../data/horsetrust_database_index.csv", index=True)

In [14]:
df.head()

,horse_id,horse_name,birth_date,h_sex,raza,height_m,weight_kg,length_m,max_speed_kmh,h_temperament,...,s_last_active_at,vet_total_exams,vet_major_issues,vet_avg_confidence,h_current_country,h_birth_country,completeness,vet_score,seller_score,horse_trust_score
0,H0,Ability,2014-06-25,F,Cuarto de Milla,1.45,517.0,2.3,70.0,Tranquilo / Sociable,...,2026-02-01 05:54:57.763822,1,1,0.740000,Turkey,Hungary,1.000000,0.000000,1.00,0.600000
1,H1,Husband,2023-11-06,F,Appaloosa,1.41,461.0,2.3,56.0,Activo / Resistente,...,2025-02-11 10:37:02.845505,3,1,0.903333,Croatia,Eritrea,1.000000,0.666667,1.00,0.866667
2,H2,Easy,2002-01-24,F,Pura Sangre Inglés,1.62,487.0,2.4,71.0,Nervioso / Atlético,...,2025-02-11 10:37:02.845505,3,1,0.776667,Armenia,Sudan,1.000000,0.666667,1.00,0.866667
3,H3,Audience,2010-12-28,F,Pura Sangre Inglés,1.63,NaN,2.4,71.0,Nervioso / Atlético,...,2023-02-25 08:30:29.480259,1,1,0.870000,Saint Vincent and the Grenadines,Gibraltar,0.909091,0.000000,0.97,0.557636
4,H4,Little,2001-02-14,F,Pura Raza Española,1.51,522.0,2.4,49.0,Noble / Dócil,...,2025-01-26 01:55:29.019771,2,1,0.835000,Togo,Brunei Darussalam,1.000000,0.500000,1.00,0.800000