In [12]:
import pandas as pd
import numpy as np
import seaborn as sd
import os

In [13]:
os.getcwd()

'/workspaces/S02-26-Equipo-30-Web-App-/src'

In [14]:
df = pd.read_csv("/workspaces/S02-26-Equipo-30-Web-App-/data/horsetrust_database.csv")

In [15]:
df.head()

,horse_id,birth_date,h_sex,raza,height_m,weight_kg,length_m,max_speed_kmh,h_temperament,h_category,...,s_verified,s_disputes,s_success_rate,s_num_listings,s_flagged_fraud,s_created_at,s_last_active_at,vet_total_exams,vet_major_issues,vet_avg_confidence
0,H0,2001-01-31,F,Cuarto de Milla,1.45,517.0,2.3,70.0,Tranquilo / Sociable,Rodeo y Trabajo,...,True,1,0.65,7,False,2024-12-27 21:02:38.963445,2025-06-23 10:43:37.881600,1,0,0.97
1,H1,2012-07-15,F,Appaloosa,1.41,461.0,2.3,56.0,Activo / Resistente,Rutas y Western,...,True,0,0.88,23,False,2026-02-06 05:31:18.597927,2026-02-11 13:05:42.273851,3,0,0.79
2,H2,2000-03-09,F,Hannoveriano,1.62,637.0,2.5,50.0,Equilibrado,Salto y Doma,...,True,0,0.79,22,False,2022-09-08 19:46:15.795307,2023-06-17 14:07:29.562806,1,0,0.81
3,H3,1999-07-01,F,Árabe,1.42,447.0,2.2,NaN,Inteligente / Leal,Endurance (Raid),...,True,1,0.69,3,False,2024-08-23 03:49:44.537864,2024-12-02 00:46:51.958740,1,0,0.95
4,H4,2001-07-29,F,Pura Raza Española,NaN,524.0,2.4,45.0,Noble / Dócil,Doma y Exhibición,...,True,0,0.71,22,False,2023-01-13 08:38:04.350814,2025-09-26 03:52:38.455736,2,0,0.80

In [16]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1000 non-null   str
 1   birth_date               1000 non-null   str
 2   h_sex                    1000 non-null   str
 3   raza                     1000 non-null   str
 4   height_m                 920 non-null    float64
 5   weight_kg                911 non-null    float64
 6   length_m                 1000 non-null   float64
 7   max_speed_kmh            910 non-null    float64
 8   h_temperament            1000 non-null   str
 9   h_category               1000 non-null   str
 10  h_career_races           1000 non-null   int64
 11  h_career_top3_rate       925 non-null    float64
 12  h_days_since_last_race   923 non-null    float64
 13  h_linaje                 1000 non-null   str
 14  listing_id               1000 non-null   str
 15  seller_id                1000 non-null   str
 16  l_listing_status         1000 non-null   str
 17  l_asking_price_usd       1000 non-null   int64
 18  l_price_vs_market_ratio  1000 non-null   float64
 19  l_anomaly_score          1000 non-null   float64
 20  l_verified_listing       1000 non-null   bool
 21  l_created_at             1000 non-null   str
 22  s_first_name             1000 non-null   str
 23  s_last_name              1000 non-null   str
 24  s_verified               1000 non-null   bool
 25  s_disputes               1000 non-null   int64
 26  s_success_rate           1000 non-null   float64
 27  s_num_listings           1000 non-null   int64
 28  s_flagged_fraud          1000 non-null   bool
 29  s_created_at             1000 non-null   str
 30  s_last_active_at         1000 non-null   str
 31  vet_total_exams          1000 non-null   int64
 32  vet_major_issues         1000 non-null   int64
 33  vet_avg_confidence       1000 non-null   float64
dtypes: bool(3), float64(10), int64(6), str(15)
memory usage: 245.2 KB

In [17]:
df.describe()

,height_m,weight_kg,length_m,max_speed_kmh,h_career_races,h_career_top3_rate,h_days_since_last_race,l_asking_price_usd,l_price_vs_market_ratio,l_anomaly_score,s_disputes,s_success_rate,s_num_listings,vet_total_exams,vet_major_issues,vet_avg_confidence
count,920.000000,911.000000,1000.000000,910.000000,1000.000000,925.000000,923.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,1.510217,539.602634,2.338900,49.931868,14.845000,0.402714,203.353196,1.499800e+06,1.205590,0.496290,0.370000,0.779570,13.305000,1.988000,0.30600,0.853170
std,0.227028,185.273822,0.326778,16.115158,4.047142,0.170334,112.964284,3.979668e+04,0.340084,0.285366,0.664486,0.098943,7.116363,0.845323,0.52406,0.070135
min,0.700000,150.000000,1.500000,20.000000,4.000000,0.100000,7.000000,1.380354e+06,0.600000,0.000000,0.000000,0.600000,1.000000,1.000000,0.00000,0.700000
25%,1.480000,452.500000,2.300000,42.000000,12.000000,0.260000,102.500000,1.472402e+06,0.910000,0.250000,0.000000,0.680000,7.000000,1.000000,0.00000,0.800000
50%,1.570000,521.000000,2.400000,50.000000,15.000000,0.410000,203.000000,1.499758e+06,1.200000,0.490000,0.000000,0.790000,13.000000,2.000000,0.00000,0.850000
75%,1.640000,629.500000,2.500000,60.000000,17.000000,0.540000,302.000000,1.526853e+06,1.510000,0.740000,1.000000,0.850000,20.000000,3.000000,1.00000,0.903750
max,1.800000,1000.000000,2.800000,71.000000,29.000000,0.700000,400.000000,1.657049e+06,1.800000,1.000000,4.000000,0.950000,25.000000,3.000000,3.00000,1.000000

# Generacion de componentes del indice de confianza Trust Horse

In [18]:
# Completeness score (solo columnas de caballo relevantes) para saber la falta de información

horse_cols = ["h_sex","raza","height_m","weight_kg","length_m","max_speed_kmh",
              "h_temperament","h_category","h_career_races","h_career_top3_rate",
              "h_days_since_last_race","h_linaje"]
df["completeness"] = 1 - df[horse_cols].isna().sum(axis=1) / len(horse_cols)

print (df["completeness"])

0      1.000000
1      1.000000
2      0.916667
3      0.916667
4      0.916667
         ...
995    1.000000
996    1.000000
997    0.916667
998    1.000000
999    1.000000
Name: completeness, Length: 1000, dtype: float64

In [19]:
# Vet score
df["vet_score"] = np.where(
    df["vet_total_exams"] > 0,
    1 - (df["vet_major_issues"]/df["vet_total_exams"]) * (1 - df["vet_avg_confidence"]),
    0.5
)

In [20]:
# Seller score
df["seller_score"] = (
    0.4 * df["s_verified"].astype(int) + 
    0.3 * (1 - np.minimum(df["s_disputes"]/10,1)) +
    0.3 * (1 - df["s_flagged_fraud"].astype(int))
)

In [21]:
# Horse trust score (ponderación final)
df["horse_trust_score"] = 0.4 * df["completeness"] + 0.4 * df["vet_score"] + 0.2 * df["seller_score"]

# Revisar resultados
df[["horse_id","horse_trust_score","completeness","vet_score","seller_score"]].head()

  horse_id  horse_trust_score  completeness  vet_score  seller_score
0       H0           0.994000      1.000000        1.0          0.97
1       H1           1.000000      1.000000        1.0          1.00
2       H2           0.966667      0.916667        1.0          1.00
3       H3           0.960667      0.916667        1.0          0.97
4       H4           0.966667      0.916667        1.0          1.00

Se ha generado el Horse Trust Score con la pondercion de 3 componentes de informacion del caballo , registro veterinario y

In [22]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   horse_id                 1000 non-null   str
 1   birth_date               1000 non-null   str
 2   h_sex                    1000 non-null   str
 3   raza                     1000 non-null   str
 4   height_m                 920 non-null    float64
 5   weight_kg                911 non-null    float64
 6   length_m                 1000 non-null   float64
 7   max_speed_kmh            910 non-null    float64
 8   h_temperament            1000 non-null   str
 9   h_category               1000 non-null   str
 10  h_career_races           1000 non-null   int64
 11  h_career_top3_rate       925 non-null    float64
 12  h_days_since_last_race   923 non-null    float64
 13  h_linaje                 1000 non-null   str
 14  listing_id               1000 non-null   str
 15  seller_id                1000 non-null   str
 16  l_listing_status         1000 non-null   str
 17  l_asking_price_usd       1000 non-null   int64
 18  l_price_vs_market_ratio  1000 non-null   float64
 19  l_anomaly_score          1000 non-null   float64
 20  l_verified_listing       1000 non-null   bool
 21  l_created_at             1000 non-null   str
 22  s_first_name             1000 non-null   str
 23  s_last_name              1000 non-null   str
 24  s_verified               1000 non-null   bool
 25  s_disputes               1000 non-null   int64
 26  s_success_rate           1000 non-null   float64
 27  s_num_listings           1000 non-null   int64
 28  s_flagged_fraud          1000 non-null   bool
 29  s_created_at             1000 non-null   str
 30  s_last_active_at         1000 non-null   str
 31  vet_total_exams          1000 non-null   int64
 32  vet_major_issues         1000 non-null   int64
 33  vet_avg_confidence       1000 non-null   float64
 34  completeness             1000 non-null   float64
 35  vet_score                1000 non-null   float64
 36  seller_score             1000 non-null   float64
 37  horse_trust_score        1000 non-null   float64
dtypes: bool(3), float64(14), int64(6), str(15)
memory usage: 276.5 KB

In [ ]:
# Nuevo Dataset con el Trust Index

import os
os.getcwd()
os.makedirs("../data", exist_ok=True)
df.to_csv("../data/horsetrust_database_index.csv", index=True)